# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Victoraso\Desktop\CURSO\2DAM\DI\DI07_tareja_Pareja_Ramirez_Victor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
